PORT=5000
NODE_ENV=development
BASE_URL=/Portfolio
VITE_PUBLIC_URL=/Portfolio
# Build output directory - used by local builds
BUILD_DIR=dist/public
# Add DATABASE_URL if you're using a database
# DATABASE_URL=postgresql://username:password@hostname:port/database